<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TFSQuery1" value= "SELECT * FROM WorkItems WHERE [System.WorkItemType] in ('Task') AND [System.Title] Not Contains 'Team meeting' AND  [System.State] = 'New' AND [System.AssignedTo] &lt;&gt; ' ' " />
    <add key="smtpfrom" value= "FROM EMAIL" />
    <add key="smtpto" value= "TO EMAIL" />
    <add key="smtphost" value= "" />
    <add key="smtpport" value= "" />
    <add key="smtpuserName" value= "" />
    <add key="smtppassword" value= "" />
    <add key="TfsUrl" value= "" />
    <add key="personalAccessToken" value= "REFER THIS https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate" />
    <add key="subject" value= "EMAIL SUBJECT" />

    <add key="col1" value= "WorkItemType" />
    <add key="col2" value= "Title" />
    <add key="col3" value= "AssignedTo" />
    <add key="col4" value= "IterationPath" />
    <!--<add key="col5" value= "RemainingWork" />-->
    <add key="col5" value= "OriginalEstimate" />
    <add key="col6" value= "CompletedWork" />
    <add key="col7" value= "RemainingWork" />
    <add key="col8" value= "State" />

  </appSettings>
</configuration>